/* https://codepen.io/weirdvector/pen/nEkCs/ */
html {
  height: 100%;
  /* background-color: #6677dd; */
  /* background-color: #A7B73A;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.2) 35px, rgba(255, 255, 255, 0.2) 70px), repeating-linear-gradient(-45deg, transparent, transparent 35px, rgba(255,255,255,0.4) 35px, rgba(255,255,255,0.4) 70px);
  background-attachment: fixed; */
}

#plaid {
  color: #000;
  /* background-color: rgb(224, 153, 0); */
  background-color: #759C1F;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.2) 35px, rgba(255, 255, 255, 0.2) 70px), repeating-linear-gradient(-45deg, transparent, transparent 35px, rgba(255,255,255,0.4) 35px, rgba(255,255,255,0.4) 70px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:link, a:visited {
  color: #000;
}

.container {
  background-color: #ffffff;
}

ul, ol {
  padding-left: 1rem;
}

blockquote {
  margin-left: 1rem;
}

